@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');*/

html {
  scroll-behavior: smooth;
}

#code {
	font-family: 'Reem Kufi', sans-serif;
}

.wrap {
	width: 100vw;
	height: 100vh;
	background-color: #F4EDDE;
}

#logo {
	width: 8em;
}

#dropdownMenu1 {
	display: none;
}

.dropdown-menu {
	visibility: hidden;
}

#nav-links a {
	font-family: 'Reem Kufi', sans-serif;
}

#hero {
	flex-grow: 1;
}

#illustration {  
	max-width: 320px;
}

.foot {
	background-color: #334B49;
	color: #DCE8E3;
}

.foot a {
	color: #DCE8E3;
}

.contact {
	line-height: 10%;
}

/*Media query to toggle hamburger menu on small screen and regular link list on bigger screens*/
@media screen and (max-width: 600px) {
	#nav-links h4 {
		display: none;
	}
	#dropdownMenu1 {
		display: inline-block;
		font-size: 1.5em;
	}
	.dropdown-toggle:after { content: none; }
	.dropdown-menu {
	visibility: visible;
	min-width: inherit;
	margin-right: 16px;
	padding: 16px;
	background-color: white;
	border: none;
	font-size: 1.5em;
	font-family: 'Reem Kufi', sans-serif;
  }
}