@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');*/

html {
  scroll-behavior: smooth;
}

#code {
	font-family: 'Reem Kufi', sans-serif;
}

.wrap {
	width: 100vw;
	height: 100vh;
	background-color: #F4EDDE;
}

#logo {
	width: 8em;
}

#dropdownMenu1 {
	display: none;
}

.dropdown-menu {
	visibility: hidden;
}

#nav-links a {
	font-family: 'Reem Kufi', sans-serif;
}

#hero {
	flex-grow: 1;
}

#illustration {  
	max-width: 320px;
}

.foot {
	background-image: url(assets/watercolor-footer.jpg);
	 background-repeat: no-repeat;
  	background-size: cover;
	/*background-color: #334B49;*/
	color: #DCE8E3;
}

.foot a {
	color: #DCE8E3;
	/*color: #334B49;*/

}

.contact {
	line-height: 10%;
}

#blob {
	position: relative;
}

/*Media query to toggle hamburger menu on small screen and regular link list on bigger screens*/
@media screen and (max-width: 600px) {
	#nav-links h4 {
		display: none;
	}
	#dropdownMenu1 {
		display: inline-block;
		font-size: 1.5em;
	}
	.dropdown-toggle:after { content: none; }
	.dropdown-menu {
	visibility: visible;
	min-width: inherit;
	margin-right: 16px;
	padding: 16px;
	background-color: white;
	border: none;
	font-size: 1.5em;
	font-family: 'Reem Kufi', sans-serif;
  }
}









* {
  box-sizing: border-box;
}
body {
  /*background: #003;*/
}

.contain {
	/*border: 1px solid black;*/
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.box {
  width: 60vmin;
  height: 60vmin;
  border: 1px dashed rgba(255,255,255,0.4);
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    border: 1px dashed rgba(255,255,255,0.4);
    transform: scale(1.42);
  }
}

.spin-container {
  width: 100%;
  height: 100%;
  animation: spin 12s linear infinite;
  position: relative;
}

.shape {
  width: 100%;
  height: 100%;
  transition: border-radius 1s ease-out;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: morph 8s ease-in-out infinite both alternate;
  position: absolute;
  overflow: hidden;
  z-index: 5;
}

.bd {
  width: 142%;
  height: 142%;
  position: absolute;
  left: -21%;
  top: -21%;
  background: url(https://images.unsplash.com/photo-1573868409657-2dc1971b0077?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-size: 100%;
  background-position: center center;
  display: flex;
  color: #003;
  font-size: 5vw;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  animation: spin 12s linear infinite reverse;
  opacity: 1;
  z-index: 2;
}

@keyframes morph {
  0% {border-radius: 40% 60% 60% 40% / 60% 30% 70% 40%;} 
  100% {border-radius: 40% 60%;} 
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}


.card-product {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
